body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
header nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline;}
header nav {
    padding: 20px 20px 20px 20px;
}
.pagination{
    display: inline-block;
    z-index: 10;
}