/*body {
  }*/
  
  .carousel-slide {
    margin: auto;
  }
  
  .item {
    height: 100vh;
  }
  
  .item img {
    height: 100%!important;
    margin: auto;
  }
  
  .carousel-control {
    background : none!important;
  }